.app-bg{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(./bg.jpg);
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.side-bg{
  background-color:rgba(0, 0, 0, 0.7);
}